<footer style="background-color:#F7AFAF;clear:both; margin-top:4%;margin-bottom:0px;height:46%;">
<div class="row" style="padding-top:3%;">
	<div class="col-md-1"></div>
		<div class="col-md-5">
			<%=image_tag 'title.svg',id: "footer-title"%>
			<h4 style="color:#ffffff;margin-top:2%;text-shadow: 0 0 0 #C09A67,0 0 0 #E8837E;letter-spacing:4px;line-height:1.6em;">
			Get all at one place, we deal in bookings of Preists 
			for religious ceremonies or wedding plus Banquets,
			Hotels, Tent vendors, Catering and more+..  
		</h4>
		</div>
	<div class="col-md-2"></div>
		<div class="col-md-1">
			<ul style="list-style:none;color:#ffffff;font-weight:bold;text-align:center;"><h3 style="color:#5599B7;font-weight:bold;">About</h3>
				<li class="f-li">Something</li>
				<li class="f-li">Ptani</li>
				<li class="f-li">KuchBhi</li>
				<li class="f-li">Aive</li>
			</ul>
		</div>
		<div class="col-md-1"><ul style="list-style:none;color:#ffffff;font-weight:bold;"><h3 style="color:#5599B7;font-weight:bold;">Products</h3>
		<li class="f-li">Something</li>
		<li class="f-li">Ptani</li>
		<li class="f-li">KuchBhi</li>
		<li class="f-li">Aive</li>
		<li class="f-li">Ekoradd</li>
		<li class="f-li">Blabla</li>
		</ul></div>
		<div class="col-md-1"></div>
	<div class="col-md-1"></div>
</div>
	
	
</footer>

<div style="background-color:#E78380;margin-top:0;height:11%;text-align:center;padding-top:2%;">
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-2">
		<h4 style="color:#ffffff;text-align:right;"> Get Connected</h4>
	</div>
	<div class="col-md-2" style="text-align:left;"><a href="https://twitter.com/codedis213" 
	class="twitter-follow-button" data-show-count="false" data-size="large">Follow @codedis213</a>
	</div>
	
	<div class="col-md-1" style="text-align:left;margin-left:-24px;">
	<span class="fb-like" data-href="https://www.facebook.com/codediss" 
	data-width="40" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></span>
	</div>
	
	<div class="col-md-1" style="text-align:left;">
		<a class="github-button" href="https://github.com/codedis213" data-style="mega" data-count-href="/codedis213/followers" 
		data-count-api="/users/codedis213#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @codedis213 on GitHub">Fork @codedis213</a>
	</div>
</div>





			
	</div>

<div style="background-color:#B26060;text-align:center;margin-top:0;height:7%;padding-top:10px;color:#99FFCC;">

			<p>&copy; Pandit Ji.online (made by <a href="http://www.codedis.com" style="color:white;">
				CodeDis</a>)
			</p>
</div>

<%=javascript_tag do%>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

<%end%>

<%=javascript_tag do%>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));<%end%>




<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
