<h3>Thankyou, <%=@user.name%> </h3>
<p>we are glad to have you and once again thanks so much for joining.</p>
<p>Regards<br />
Pandit Ji - Team</p>
<p style="font-size:10px;">Part of <%=link_to 'CodeDis','http://www.codedis.com'%></p>
