 /* ************COLORS********* */
/*======HEADER SEARCH======*/
$mg:#00A78B;		/*majestic_green*/
	
$my:#3C3C3C;		/*frog grey*/
/*=========================*/

$w:#ffffff;		/*white*/

$go:#EEC584; 	/*golden*/

$gr:#64B898; 	/*dark green*/

$db:#5599B7; 	/*dark blue*/

$lb:#8DCAE0; 	/*light blue*/

$r:#B26060; 	/*dark red*/

$bl:#576E76; 	/*black*/

$sl:#DBDDDB; 	/*silver*/

$pul:#848FC1;	/*pulpul*/

/*====== EMERGENCY=========*/

$dg:#DACA7E; 	/*robo dull green*/
/* ***********
#5FCF80 treehouse green
#39ADD1 treehouse blue
#FF8EB4 treehouse pink
#E15258 treehouse red
#283442 UX pin dark blu back
#FF5E37 orange	************** */ 