 .foot{
	width: 101%;
	border-top: 4px solid #C09A67;
	clear: both;
	margin-top: 7%;
	padding-top: 2%;
	ul{list-style: none;}
	.foot-img{
		width:220px;
		
	}
}

.f-li:hover{color:#C09A67;cursor: pointer; cursor: hand;}